@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>配送管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <div id="qrcode"style="margin-left:15%";></div>
                                <#NameCon id="USER_NAME" name="用户姓名" />
                                <#SelectCon id="PRINT_STATUS" name="打印状态" >
                                    <option value="">全部</option>
                                    <option value="1">已打印</option>
                                    <option value="2">未打印</option>
                                </#SelectCon>
                                <#TimeCon id="beginTime" name="开始时间" isTime="true" pattern="YYYY-MM-DD hh:mm:ss"/>
                                <#SelectCon id="user_type" name="用户类型" >
                                    <option value="">全部</option>
                                    <option value="0">初始</option>
                                    <option value="1">注册用户</option>
                                    <option value="2">试用用户</option>
                                    <option value="3">付费用户</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="ORDER_STATUS" name="订单状态" >
                                    <option value="">全部</option>
                                    <option value="1">待备餐</option>
                                    <option value="10">备餐中</option>
                                    <option value="15">配送中</option>
                                    <option value="30">已送达</option>
                                    <option value="40">已评价</option>
                                </#SelectCon>
                                <#SelectCon id="SERVICE_TIME" name="送达时间" >
                                    <option value="">全部</option>
                                    <option value="1">06:00</option>
                                    <option value="2">06:30</option>
                                    <option value="3">07:00</option>
                                    <option value="4">07:30</option>
                                    <option value="5">08:00</option>
                                </#SelectCon>
                                <#TimeCon id="endTime" name="结束时间" isTime="true" pattern="YYYY-MM-DD hh:mm:ss"/>
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="NAME5" name="小区大厦" />
                                <#NameCon id="NAME6" name="栋/公司" />
                                <#NameCon id="ACCURATE_ADDRESS" name="配送地点" />
                                <!--<#SelectCon id="ORDER_TYPE" name="订单类型" >-->
                                    <!--<option value="">全部</option>-->
                                    <!--<option value="1">标准推荐餐</option>-->
                                    <!--<option value="2">自选餐</option>-->
                                <!--</#SelectCon>-->
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Order.search()"/>
                                <#button name="导出Excel表格" icon="" clickFun="Order.Export()"/>
                                <#button name="打印配送单" icon="" clickFun="Order.prientOrder()"/>
                                <!--<#button name="顺丰配送下单" icon="" clickFun="Order.shunfengOrder()"/>-->
                            </div>
                        </div>
                        <#table id="orderTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/dhxh/order/order.js"></script>
@}
