@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="userInfoForm">

			<div class="row">
				<div class="col-sm-6 b-r">
					<#input id="NAME" name="地址名称" underline="true"/>
					<#Select id="TYPE" name="类型(大厦/小区)必选" >
						<option value=""></option>
						<option value="0">大厦</option>
						<option value="1">小区</option>
				    </#Select>
					<#Select id="status" name="状态" >
						<option value="1">可配送</option>
						<option value="2">暂停配送</option>
					</#Select>
				</div>
				<div class="col-sm-6">
					<#input id="accurate_address" name="门牌号（公司必填）" underline="true"/>
					<div id="driverInfoContent">
						<#input id="citySel" name="父级地址" underline="true" readonly="readonly" hidden="deptid"
								clickFun="AddressAdd.showDeptSelectTree(); return false;"
								style="background-color: #ffffff !important;"/>
					</div>
					<#input id="lng_lat" name="经纬度(大厦/小区必填)" underline="true"/>
				</div>
			</div>

			<!-- 这是部门选择的下拉框 -->
			<div id="menuContent" class="menuContent"
				style="display: none; position: absolute; z-index: 200;">
				<ul id="treeDemo" class="ztree tree-box" style="width: 249px !important;"></ul>
			</div>

			<div class="row btn-group-m-t">
				<div class="col-sm-10">
					<#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AddressAdd.addSubmit()"/>
					<#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AddressAdd.close()"/>
				</div>
			</div>
		</div>

	</div>
</div>
<script src="${ctxPath}/static/modular/dhxh/user/address_add.js"></script>
@}
