@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>企业账户管理</h3>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="business_name" name="企业名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="查询" icon="fa-search" clickFun="BusinessInfo.search()"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="创建账户" icon="fa-plus" clickFun="BusinessInfo.addAccount()"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="启用" icon="fa-check-circle" clickFun="BusinessInfo.enable()"/>
                                <#button name="禁用" icon="fa-warning" clickFun="BusinessInfo.disable()"/>
                            </div>
                            </div>
                        <#table id="businessInfoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/dhxh/business/businessInfo.js"></script>
@}
