@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>菜单管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#TimeCon id="beginTime" name="开始时间" isTime="true" pattern="YYYY-MM-DD"/>
                                <#button name="添加" icon="" clickFun="Carte.add()"/>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="endTime" name="结束时间" isTime="true" pattern="YYYY-MM-DD"/>
                                <#button name="修改" icon="" clickFun="Carte.edit()"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Carte.search()"/>
                            </div>
                        </div>
                        <#table id="carteTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="css/simple-calendar.css">
<script type="text/jacascrip" src="js/simple-calendar.js"></script>
<script src="${ctxPath}/static/modular/dhxh/food/carte.js"></script>
@}
