@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>包月订单管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="address_name" name="配送地点" />
                                <#TimeCon id="beginTime" name="开始时间" isTime="true" pattern="YYYY-MM-DD hh:mm:ss"/>
                            </div>
                            <div class="col-sm-3">
                                <#SelectCon id="service_status" name="团购状态" >
                                <option value="">全部</option>
                                <option value="0">未开始</option>
                                <option value="10">服务中</option>
                                <option value="21">暂停</option>
                                <option value="20">已结束</option>
                            </#SelectCon>
                            <#TimeCon id="endTime" name="结束时间" isTime="true" pattern="YYYY-MM-DD hh:mm:ss"/>
                        </div>
                        <div class="col-sm-3">
                            <#NameCon id="user_name" name="用户姓名" />
                            <#NameCon id="telephone" name="用户电话" />
                        </div>
                        <div class="col-sm-3">
                            <#button name="搜索" icon="fa-search" clickFun="PersonalService.search()"/>
                        </div>
                    </div>
                    <#table id="personalServiceTable"/>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="${ctxPath}/static/modular/dhxh/service/personalService.js"></script>
@}
